@page
@model PrivacyModel
@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p style="color:blue">Use this page to detail your site's privacy policy.</p>
<p>

<strong>Heritage College</strong> is one of Canada’s largest and most successful <a href="https://www.google.com">Online</a>retailers, operating the Best Buy (www.bestbuy.ca), Best Buy Mobile, and Geek Squad (www.geeksquad.ca) brands. The Company offers consumers a unique shopping experience with the latest technology and entertainment products, plus an expanded assortment of lifestyle products offered through www.bestbuy.ca, at the right price, with a no-pressure (non-commissioned) sales environment.

The first Best Buy Canada stores were opened in the fall of 2002, with eight locations in <img src="mao1.jfif" style="float:right">the Greater Toronto Area. Since then, Best Buy has expanded across Canada, opening stores from coast-to-coast. Today, with nearly 200 Best Buy and Best Buy Mobile stores across Canada, our store employees and Geek Squad Agents are committed to delivering product solutions for all of today’s technology needs. For more information on current store locations, click here to visit the Store Locator page.

Recognized by Canada Post for ‘Best Omni-Channel Integration’ in 2014, Best Buy Canada is proud to offer customers a seamless shopping experience. With Reserve and Pick-Up, Fast Free Shipping on online orders and the ability to have online and in-store purchases on the same transaction, Best Buy Canada is simplifying the Canadian shopping experience.

Through community investment, Best Buy and its employees are committed to connecting youth with technology to inspire, motivate and empower their education. For more information about our Community Relations programs, click here.
</p>